<div class="container mt-5 text-center">
    <div class="row">
        <div class="col">
            <img src="img/IMG_9898.jpg" alt="dokter" class="img-thumbnail rounded-pill" width="200">
            <h1 class= "display-4">Dokter</h1>
            <p class="font-family">spesialis</p>
        </div>
    </div>
</div>