
  <div class="row">
    <div class="col mt-5">
      <h1>Daftar Mahasiswa</h1>
      <% mahasiswa.forEach(mhs => { %>
       <ul>
         <li><p>Nama : <%=mhs.nama  %> </p></li>
         <li><p>Nama : <%=mhs.email  %> </p></li>
       </ul>
      <% }) %>
    </div>
  </div>